---
const { login, avatar_url, profile } = Astro.props;
---

<li class="flex hover:scale-110">
  <a href={profile}>
    <img class="rounded-full h-12 w-12" alt={login} src={avatar_url} />
  </a>
</li>
