---
const { name, image, profile } = Astro.props;
---

<li class="flex hover:scale-125 duration-300">
  <a href={profile}>
    <img class="rounded-full !h-8 !w-8 object-cover" alt={name} src={image} />
  </a>
</li>
