---
import { Image } from "astro:assets";

let { name, image, profile } = Astro.props;
---

<li class="flex hover:scale-125 duration-300">
  <a href={profile}>
    <!-- On prod it width and height will be inferred from the imported image  -->
    <Image
      src={image}
      class="rounded-full !h-8 !w-8 object-cover"
      alt={name}
      width={32}
      height={32}
    />
  </a>
</li>
