---
import { getContributors, getCharts } from "./utils";

import Icons from "./Icons.astro";
import Title from "./Title.astro";

const people = getContributors();
const charts = getCharts();
---

<!-- Charts -->
<div class="text-center">
  <Title>
      Over <span class="text-tc-primary">{charts.length}</span> amazing
      <span class="text-tc-primary">Charts</span>
  </Title>
  <!-- Pass 0 for all icons -->
  <Icons icons={charts} maxIcons={0} />
</div>

<br />
<!-- Contributors & Sponsors -->
<div class="text-center">
  <Title>
    Over <span class="text-tc-primary">{people.length}</span> amazing
    <span class="text-tc-primary">Contributors</span>
    and <span class="text-tc-primary">Sponsors</span>
  </Title>
  <!-- Pass 0 for all icons -->
  <Icons icons={people} maxIcons={0} />
</div>
