.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 128px));
    grid-gap: 8px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 8px;
}
  
  .grid-item img {
    width: 100%;
    height: auto;
    padding: 8px;
    object-fit: cover;
}

  .grid-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  .dialog-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    word-wrap: break-word;
    max-width: 75ch;
  }