 
  .table-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 8px;
}

.table-item-source {
  word-wrap: break-word;
  max-width: 20ch;
}

.full-width-table {
  width: 100%;
}