name: Cloudflare Pages

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          # This is needed for the "last updated" field to update correctly.
          fetch-depth: 0

      - name: Setup Cache
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          # Cache for build and optimized images.
          key: astro
          path: ./.astro

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install Packages
        run: npm ci

      - name: Build
        run: npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }} # TODO:
          accountId: ${{ secrets.CF_ACCOUNT_ID }} # TODO:
          # By default Cloudflare marks `main` as the "production" branch.
          # So when this workflow is pushed to refs/heads/main, we set the branch to `main`/"production".
          branch: ${{ github.ref == 'refs/heads/main' && 'main' || github.head_ref }}
          # The project name in Cloudflare
          projectName: chart-docs
          directory: ./build
          wranglerVersion: "3"
